**/node_modules/
data/processing/data/
html
cms/html
cms/html_old
cms/html_tmp
files
files-private
settings.php
environment/packer/packer_cache/
environment/packer/*.box
environment/vagrant/.vagrant/
environment/vagrant/.vagrant-*
.DS_Store
.idea
**/*.iml
atlassian-ide-plugin.xml
map-work
**/*.sql
