/* line 1, mythos-vis.scss */
.mythos-plot {
  position: relative;
}
/* line 3, mythos-vis.scss */
.mythos-plot svg {
  fill: transparent;
}
/* line 5, mythos-vis.scss */
.mythos-plot svg text {
  fill: #000;
}
/* line 11, mythos-vis.scss */
.mythos-plot svg .layer.axis path.domain, .mythos-plot svg .layer.grid path.domain,
.mythos-plot svg .layer.axis line,
.mythos-plot svg .layer.grid line {
  stroke: #333;
}
/* line 12, mythos-vis.scss */
.mythos-plot svg .layer.axis text, .mythos-plot svg .layer.grid text {
  fill: #000;
}
/* line 14, mythos-vis.scss */
.mythos-plot svg .layer.axis text.label, .mythos-plot svg .layer.grid text.label {
  font-size: 1.3em;
  text-anchor: middle;
}
/* line 23, mythos-vis.scss */
.mythos-plot svg .layer.grid .tick line {
  stroke-dasharray: 2,4;
}
/* line 25, mythos-vis.scss */
.mythos-plot svg .layer.grid path.domain {
  stroke-width: 0;
}
/* line 30, mythos-vis.scss */
.mythos-plot svg .layer.guide g.rect text {
  text-anchor: middle;
}
/* line 32, mythos-vis.scss */
.mythos-plot svg .layer.guide g rect {
  opacity: 0.5;
}
/* line 33, mythos-vis.scss */
.mythos-plot svg .layer.guide g line {
  stroke: red;
}
/* line 36, mythos-vis.scss */
.mythos-plot svg .layer.item.active {
  filter: url(#glow);
  stroke: #ceef80;
}
/* line 42, mythos-vis.scss */
.mythos-plot svg .layer-labelLayer .labelLayer-item .text-point {
  cursor: pointer;
}
/* line 49, mythos-vis.scss */
.mythos-plot .info .item {
  top: 0;
  right: 0;
  position: absolute;
  width: 20%;
  padding: 20px;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #000;
}
